<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blog</title>
</head>
<body>
    <main>
        {{{body}}}
    </main>
    <footer class="text-right">
        <div class="social-icons  mr-3">
        <a href="https://github.com/fabricioGuac" target="_blank" class="icon"><i class="fab fa-github fa-3x"></i></a>
        <a href="https://www.linkedin.com/IshouldProbablyCreateOne" target="_blank" class="icon"><i class="fab fa-linkedin fa-3x"></i></a>
    </div>
    </footer>
</body>
</html>