<div class="row  align-center mb-5">
    <div class="col-md-6">
        <div class="login-card round">
            <h2 class="page-title text-center">Login</h2>
            <form class="form login-form">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" type="text" id="email" autocomplete="email" />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">login</button>
                </div>
            </form>
            <div class="form-group">
                <button class="btn btn-success" id="sign-in">Sign in</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="welcome">
            <h3>Welcome back </h3>
            <p>Log in to access your blog account</p>
            <ul>
                <i>"Join the tech conversation"</i>
                <iExpress your thoughts on tech></i>
                <i>Connect with fellow tech enthusiasts</i>
                <i>Publish your tech articles</i>
                <i>Voice your tech opinions</i>
                <i>Explore the world of tech blogging</i>
                <i>Contribute to the tech community</i>
                <i>ell your tech stories</i>
                <i>Engage with tech topics</i>
            </ul>
        </div>
        <div class="icons">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-book"></i>
            <i class="fa-solid fa-typewriter"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-book-open-cover"></i>
            <i class="fa-solid fa-keyboard"></i>
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
    </div>
</div>